{% extends 'base.html' %}

{% block title %}Pinkie Promise Home{% endblock %}

{% block content %}
<br />
<h2>Dash Board</h2>
<br />
<h5>最近の約束（最終更新5件）</h5>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <!-- <th scope="col">id</th> -->
      <!-- <th scope="col">title</th>
      <th scope="col">promise_date</th>
      <th scope="col">status</th>
      <th scope="col">dead_line</th>
      <th scope="col">performer</th>
      <th scope="col">rewarder</th> -->
      <th scope="col">約束</th>
      <th scope="col">作成日</th>
      <th scope="col">ステータス</th>
      <th scope="col">期日</th>
      <th scope="col">守る人</th>
      <th scope="col">褒める人</th>
    </tr>
  </thead>
  <tbody>
    {% for promise in promises.all %}
    <tr>
      <!-- <th scope="row">{{ promise.id }}</th> -->
      <td><a href="{% url 'promise_detail' promise.id %}"> {{ promise.title }}</a></td>
      <td>{{ promise.promise_date }}</td>
      <td>{{ promise.get_status_display }}</td>
      <td>{{ promise.dead_line }}</td>
      <td>{{ promise.performer }}</td>
      <td>{{ promise.rewarder }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />
<h5>アクション</h5>
{% if all_count == 0 %}
<p>必要なアクションはありません。</p>
{% endif %}
<div class="row">

  {% if offer_count > 0 %}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">約束依頼</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ offer_count }}件</h6>
        <p class="card-text">あなた宛の約束依頼があります。確認してください。</p>
        <a href="#" class="btn btn-primary">詳細を見る</a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if reject_count > 0 %}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">却下</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{reject_count}}件</h6>
        <p class="card-text">却下された約束があります。修正するか、削除してください。</p>
        <a href="#" class="btn btn-primary">詳細を見る</a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if ongoing_count > 0 %}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">約束中</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ongoing_count}}件</h6>
        <p class="card-text">頑張って約束を守ってください。</p>
        <a href="#" class="btn btn-primary">詳細を見る</a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if evaluate_count > 0 %}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">評価</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{evaluate_count}}件</h6>
        <p class="card-text">期限が来ました。約束が守れたか確認してください。</p>
        <a href="#" class="btn btn-primary">詳細を見る</a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if complete_count > 0 %}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ご褒美</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{complete_count}}件</h6>
        <p class="card-text">守れた約束です。ご褒美を貰ってください。</p>
        <a href="#" class="btn btn-primary">詳細を見る</a>
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}